/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #110707;
}

a {
  color: #0d4261;
  text-decoration: none;
}
img {
    max-width:5%;
    height: 10%;
   justify-content: center;
   position: relative;
  }

/* Header Styles */
header {
  background-color: #aab6bd;
  color: #6e3d3d;
  padding: 1rem;
  
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 1rem;
  list-style: none;
}
